.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ip-finder {
  margin-right: 20px;
  padding: 50px;
}
.ip-text {
  margin-right: 10px;
}
.ip-textbox {
  border-radius: 20px;
  height: 20px;
  width: 20%;
  
}
@keyframes identifier {
  0% {
    background-color: white;
    color: white;
  }
  50% {
    background-color: #152F2A;
    color: grey;
  }
  100% {
    background-color: #013220;
    color: silver;
  }
}

.ip-textbox:hover, :focus {
  animation-name: identifier;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}